<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Quienes Somos</title>
  <link rel="stylesheet" href="../css/about.css">
</head>
<body>
  <section class="box">
    <img src="/frontend/images/tecnofer.png" width="180" alt="" class="box-img">
    <h1>Quienes Somos</h1>
     <p>El nombre TecnoFer deriva de la fusión entre el mundo digital (Tecnología) y el mundo físico 
     (establecimiento comercial del tipo ferreteria industrial). Llevamos más de 25 años en el rubro de venta de herramientas, materiales para la construcción, equipamiento 
     para obras, instrumentos tecnológicos relacionados a los trabajos de obras. Comenzamos nuestras actividades con un esquema 
     de ventas tradicional pero hemos sabido adaptarnos a los constantes cambios económicos y de paradigmas que se han presentado 
     en el país siendo hoy también nuestro sistema de servicio la venta en línea.</p>
    <ul>
      <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
      <li><a href="#"><i class="fa fa-google-plus-square" aria-hidden="true"></i></i></a></li>
      <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
    </ul>

  </section>
</body>
</html>
