<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
    <script type="module" src="/frontend/src/js/services/checkout.js" async></script>

    <link rel="stylesheet" href="/frontend/src/css/main.css">
    <link rel="stylesheet" href="/frontend/src/css/checkout.css">
    <link rel="stylesheet" href="/frontend/src/css/cart.css">
</head>

<body>
    <header>
        <div class="menu container">
            <a href="/" class="logo">TecnoFer</a>
            <input type="checkbox" id="menu" />
            <label for="menu">
                <img src="../images/menu.png" alt="menu" class="menu-icono">
            </label>

            <nav class="navbar">
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/frontend/src/templates/products.html">Productos</a></li>
                    <li><a href="#contactos">Contacto</a></li>
                </ul>
            </nav>

            <div>
                <ul>
                    <li class="submenu">
                        <img src="/frontend/src/images/" alt="cart" id="img-cart">
                        <div id="cart">
                            <table id="cart-list">
                                <thead>
                                    <tr>
                                        <th>Imagen</th>
                                        <th>Nombre</th>
                                        <th>Precio</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                            <a href="" id="empty-cart" class="btn-2">Vaciar Carrito</a>
                            <a href="" id="checkoutLink" class="btn-checkout">Comprar</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <div class="checkout-container">

        <div class="resume">
            <h1>Productos</h1>
            <div id="checkout-products"></div>
            <h2>Resumen de Compra</h2>
            <div id="total-price"></div>
        </div>

        <div class="data">
            <div class="customer-data">
                <h2>Informacion del Comprador</h2>
                <form id="checkout-form">
                    <div>
                        <label for="first-name">Nombre:</label>
                        <input type="text" id="first-name" name="first-name" required>
                    </div>
                    <div>
                        <label for="last-name">Apellido:</label>
                        <input type="text" id="last-name" name="last-name" required>
                    </div>
                    <div>
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" required>
                    </div>
                    <div>
                        <label for="address">Dirección:</label>
                        <textarea id="address" name="address" required></textarea>
                    </div>
                    <div>
                        <label for="phone">Teléfono:</label>
                        <input type="tel" id="phone" name="phone" required>
                    </div>
                    <button type="submit">Continuar</button>
                </form>
            </div>
            <div id="mensaje-exito"></div>
            <div class="payment">
                <div>
                    <label>
                        <input type="radio" name="paymentMethod" id="cash" value="cash" checked> Efectivo
                    </label>
                    <label>
                        <input type="radio" name="paymentMethod" id="mercadoPago" value="mercadopago"> Mercadopago
                    </label>
                </div>
                <div id="cash-container"></div>
                <div id="wc">
                    <div id="wallet_container"></div>
                </div>
            </div>
        </div>

    </div>

    <script src="https://sdk.mercadopago.com/js/v2"></script>
</body>

</html>
