<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="/frontend/src/css/main.css">
    <link rel="stylesheet" href="/frontend/src/css/cart.css">
    <link rel="stylesheet" href="/frontend/src/css/products.css">
    <link rel="stylesheet" href="../css/contacto.css">

    <link rel="icon" href="/frontend/images/favicon.png" type="image/x-icon">
</head>
<body>

    <header class="header-products">
        <div class="menu container">
            <a href="/" class="logo">TecnoFer</a>
            <input type="checkbox" id="menu" />
            <label for="menu">
                <img src="../images/menu.png" alt="menu" class="menu-icono">
            </label>
            
            <nav class="navbar">
                <ul>
                    <li><a href="/frontend/src">Inicio</a></li>
                    <li><a href="./products.html">Productos</a></li>
                    <li><a href="#contactos">Contacto</a></li>
                </ul>
            </nav>

            <div>
                <ul>
                    <li class="submenu">
                        <img src="../../images/cart.svg" alt="cart" id="img-cart">
                        <div id="cart">
                            <table id="cart-list">
                                <thead>
                                    <tr>
                                        <th>Imagen</th>
                                        <th>Nombre</th>
                                        <th>Precio</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                            <a href="" id="empty-cart" class="btn-2">Vaciar Carrito</a>
                            <a href="" id="checkoutLink" class="btn-checkout">Comprar</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </header>

     <!--Contacto-->
        <section class="container contacto-section">
            <div class="contact-container">
                <div class="form-container">
                    <h3>Contacto</h3>
                    <ul class="contact-form">
                        <li class="contact-li">
                            <i class="fa fa-phone"></i>
                            <a href="">(011) 471712345</a>
                        </li>
                        <li class="contact-li">
                            <i class="fa-brands fa-whatsapp"></i>
                            <a href="">(011)1137555556</a>
                        </li>
                        <li class="contact-li">
                            <i class="fa fa-map-pin"></i>
                            <a href="">Av. La Plata 811, Cordoba</a>
                        </li>
                        <li class="contact-li">
                        <i class="fa-brands fa-instagram"></i>
                        <a href="#">/TecnoFer</a></li>
                    <li class="contact-li">
                        <i class="fa-brands fa-facebook"></i>
                        <a href="#">/TecnoFer</a>
                    </li>
                </ul>
                </div>

                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3404.956688224755!2d-64.50560282569414!3d-31.415319374262193!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x942d66154ac06359%3A0x97bd4532d631b00b!2sReloj%20Cuc%C3%BA!5e0!3m2!1ses-419!2sar!4v1698092767025!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </section>
          <!-- JS scripts -->
    <script type="module" async>
        import { onInit } from './js/main.js';
        onInit()
        .catch( error => {
            console.error('Error:', error);
        });
    </script>
</body>
</html>    