<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/frontend/src/css/header.css">
</head>

<body>
    <header class="navbar">
        <div class="navbar-logo">
            <img src="/frontend/src/images/banner.png" alt="banner">
        </div>
        <nav class="navbar-links">
            <ul>
                <li><a href="/frontend/src/index.html">Inicio</a></li>
                <li><a href="productos.html">Productos</a></li>
                <li><a href="contacto.html">Contacto</a></li>
                <li><a href="quienessomos.html">Quiénes Somos</a></li>
                <li><a href="carrito.html">Carrito</a></li>
            </ul>
        </nav>
    </header>
</body>

</html>
