<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="../css/payment-error.css">
    <style>
        
    </style>
</head>
<body>
    <div class="error-container">
        <h1>Error en el Pago</h1>
        <p>Hubo un error al procesar el pago.</p>
        <p>Por favor intente nuevamente mas tarde o contactese con el equipo de soporte.</p>
        <a href="/templates/checkout.html" class="button">Volver</a>
    </div>
</body>
</html>
