<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/frontend/src/css/products.css">
    <title>TecnoFer - Productos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="icon" href="/frontend/images/favicon.png" type="image/x-icon">
</head>

<body>
    <header>
        <div class="logo-container">
            <img src="/frontend/images/banner2.png" alt="Logo TecnoFer">
        </div>
        
        <nav class="navbar">
            <div class="social-icons">
                <a href="#" target="_blank"><i class="fas fa-global"> Productos de nuestro  E-Commerce</i></a> 
                <a href="#" target="_blank"><i class="fab fa-instagram"> Tecnofer</i></a>
                <a href="#" target="_blank"><i class="fab fa-facebook"> Tecnofer</i></a>
                <a href="#" target="_blank"><i class="fas fa-phone"> 351203943</i></a>
            </div>
        </nav>
    </header>

<!-- shop Content -->
        <div class="cards-products-container">
            <div class="card-products" id="shopContent"></div>
        </div>
<!-- cart-btn -->
        <div class="cart-btn" id="cart-btn">🛒</div>
<!-- cart counter -->
        <span class="cart-counter" id="cart-counter">0</span>

        <div class="modal-overlay" id="modal-overlay"></div>
        <div class="modal-container" id="modal-container"></div>



        <script src="/frontend/src/js/products.js"></script>
        <script src="/frontend/src/js/index.js"></script>
        <script src="/frontend/src/js/cart.js"></script>
        


    <footer>
        <footer class="footer">
            <div class="footer-logo">
                <img src="/frontend/images/footertecnofer.png" alt="Logo de la empresa"></div>
            <div class="social-icons">
                <a href="#" target="_blank"><i></i>Bv. San Juan 793, Cordoba. Argentina</a>
            </div>
        </footer>
        
    </footer>
</body>

</html>
